<!doctype html>
<html>
  <head>
    <title>Dog Adoption</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <h1><%=webName%></h1>
    <a href="weather">
      <div class="weather-icon">
          <i class="fas fa-sun"></i>
      </div>
    </a>
    <div class="user-icon">
      <a href="/login">
          <i class="fas fa-user"></i>
      </a>
      
      <% if (loggedIn) { %>
        <a href="/logout"></a>
      <% } else { %>
          <a href="/login"></a>
      <% } %>
    </div>
    <div class="topnav">
    <a href="/">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">
          MEET OUR DOGS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/adoptdog">Dogs for adoption</a>
          <a href="/fosterdog">Dogs for fostering</a>
        </div>
    </div>
    <a href="adoption">ADOPTION</a>
    <a href="fostering">FOSTERING</a>
    <a href="posts">OUR POSTS</a>
      <% if (loggedIn) { %>
        <a href="/queries">QUERIES</a>
      <% } else { %>
          <a href="/contact">CONTACT US</a>
      <% } %>
      <% if (loggedIn) { %>
          <a href="/addDog">ADD DOG</a>
      <% } %>
    <!-- Search Bar-->
      <div class="dropdown">
        <button class="dropbtn">
          SEARCH
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form action="/search-result" method="get">
            <input type="text" name="keyword" placeholder="Search..." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
  </div>
  <h2>Join our family and become a fosterer today!</h2>
  <h4>Joining our community and becoming a fosterer will save the lives of many dogs
    <br> we currently have more homeless dogs in the UK than we have free spaces in the shelters.
    <br> If you become a fosterer today the shelters we work with will be able to save more dogs.</h4>

    <br>
    <br>

  <h2>How to apply to foster?</h2>
  <h4> If you would like to join us and help free space up in local shelters whilst giving a dog a better home 
    <br> go to our <a href="/contact">contact page</a></h4>

  <div class="button-container">
    <a href="/fosterdog"><button class="buy-button">Meet our Dogs</button></a>
  </div>


  </body>
</html>
